<h1>Pages#main</h1>
<p>Find me in app/views/pages/main.html.erb</p>
<% if user_signed_in? %>
  <p>Signed In!</p>
  <%= current_user.uid %>
  <% @response.items.each do |tasklist| %>
    <%= tasklist.title %>
  <% end %>
<% else %>
  <p>NOT Signed In</p>
<% end %>
<% console if Rails.env.development? %>
